.tabs-tab {
    display: inline-block; // height: 100%;
    // margin: 0 32px 0 0;
    // padding: 12px 16px;
    box-sizing: border-box;
    position: relative;
    transition: color .3s cubic-bezier(.645, .045, .355, 1);
    cursor: pointer;
    text-decoration: none;
    i.close-icon {
        margin-left: 5px;
    }
    border-right: 1px solid #E4EAEC;
    color: #666666;
    height: 40px;
    background: #fafafa;
    padding:0 16px;
    line-height: 38px;
}

.tabs-tab.tabs-tab-active {
    color: #1890ff;
    font-weight: 500;
    height: 41px;
    background: #F1F4F5;
}

:host {
    display: block;
}

.delete-icon {
    margin-left: 5px;
}