<div style="padding:10px 0;overflow: auto;">
  <a class="btn btn-primary btn-group-sm pull-right" [routerLink]="['add']">新增</a>
</div>
<table class="table table-bordered table-condensed">
  <tr>
    <th class="text-center">序号</th>
    <th class="text-center">名称</th>
    <th class="text-center">描述</th>
    <th class="text-center">创建日期</th>
    <th class="text-center">最后修改日期</th>
    <th class="text-center">操作</th>
  </tr>
  <tr *ngFor="let item of classifyList;index as idx">
    <td>
      {{idx+1}}
    </td>
    <td>{{item.classifyName}}</td>
    <td>{{item.classifyDesc}}</td>
    <td>{{item.createTime}}</td>
    <td>{{item.LastModifyTime}}</td>
    <td>
      <button class="btn btn-primary btn-xs" (click)="edit(item)">修改</button>
      <button class="btn btn-danger btn-xs" (click)="delete(item)">删除</button>
    </td>
  </tr>
</table>

<ng-template #classifyHandle>

</ng-template>
