@import "src/styles/bootstrap-less/mixins";
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0; //First Level
    >li {
        position: relative;
        margin: 0;
        padding: 0;
    }
    li.header {
        padding: 10px 25px 10px 15px;
        font-size: 12px;
    }
}