@import 'src/styles/bootstrap-less/bootstrap';
@import 'src/styles/conf/conf';
// Sidebar menu
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0; //First Level 
    li {
        position: relative;
        margin: 0;
        padding: 0;
    }
    li.header {
        padding: 10px 25px 10px 15px;
        font-size: 12px;
    }
}

.sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}

//skin blue
.header {
    color: lighten(@sidebar-dark-bg, 20%);
    background: darken(@sidebar-dark-bg, 4%);
}