li {
    position: relative;
    margin: 0;
    padding: 0;
    >a {
        word-break: keep-all;
        /* 不换行 */
        white-space: nowrap;
        /* 不换行 */
        overflow: hidden;
        /* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow: ellipsis;
        /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
        cursor: pointer;
        padding: 12px 5px 12px 15px;
        display: block;
        >.fa,
        >.glyphicon,
        >.ion {
            width: 20px;
        }
    }
    .label,
    .badge {
        margin-right: 5px;
    }
    .badge {
        margin-top: 3px;
    }
}

@import 'src/styles/bootstrap-less/bootstrap';
li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}

li>a>.fa-angle-left,
li>a>.pull-right-container>.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    .transition(transform .5s ease);
}

li>a>.fa-angle-left {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
}

.menu-open {
    >a>.fa-angle-left,
    >a>.pull-right-container>.fa-angle-left {
        .rotate(-90deg);
    }
}

.active>.treeview-menu {
    display: block;
}

// Tree view menu
.treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    .treeview-menu {
        padding-left: 20px;
    }
    >li {
        margin: 0;
        >a {
            padding: 5px 5px 5px 15px;
            display: block;
            font-size: 14px;
            cursor: pointer;
            >.fa,
            >.glyphicon,
            >.ion {
                width: 20px;
            }
            >.pull-right-container>.fa-angle-left,
            >.pull-right-container>.fa-angle-down,
            >.fa-angle-left,
            >.fa-angle-down {
                width: auto;
            }
        }
    }
}