@import 'src/styles/bootstrap-less/bootstrap';
@import 'src/styles/conf/conf';
@import 'src/styles/skins/skin-blue2.less';
li {
    position: relative;
    margin: 0;
    padding: 0;
    >a {
        padding: 12px 5px 12px 15px;
        display: block;
        >.fa,
        >.glyphicon,
        >.ion {
            width: 20px;
        }
    }
    .label,
    .badge {
        margin-right: 5px;
    }
    .badge {
        margin-top: 3px;
    }
}

li>a>.fa-angle-left,
li>a>.pull-right-container>.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    .transition(transform .5s ease);
}

li>a>.fa-angle-left {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
}

.menu-open {
    >a>.fa-angle-left,
    >a>.pull-right-container>.fa-angle-left {
        .rotate(-90deg);
    }
    .treeview-menu.treeview-menu-open {
        display: block;
    }
}

.active>.treeview-menu {
    display: block;
}

// Tree view menu
.treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    .treeview-menu {
        padding-left: 20px;
    }
    >li {
        margin: 0;
        >a {
            padding: 5px 5px 5px 15px;
            display: block;
            font-size: 14px;
            >.fa,
            >.glyphicon,
            >.ion {
                width: 20px;
            }
            >.pull-right-container>.fa-angle-left,
            >.pull-right-container>.fa-angle-down,
            >.fa-angle-left,
            >.fa-angle-down {
                width: auto;
            }
        }
    }
}

//menu collapsed 导航栏收缩
li.menu-collapsed {
    a>span,
    .treeview-menu,
    a>.pull-right,
        {
        display: none !important;
        -webkit-transform: translateZ(0);
    }
}

// Show menu items on hover
li.menu-collapsed:hover {
    >a {
        color: red;
    }
    >a {
        //overflow: visible;
    }
    >a>span:not(.pull-right), //:not(.pull-right-container),
    >.treeview-menu {
        display: block !important;
        position: absolute;
        width: @sidebar-width - 50;
        left: 50px;
    } //position the header & treeview menus
    >a>span {
        top: 0;
        margin-left: -3px;
        padding: 12px 5px 12px 20px;
        background-color: inherit;
    }
    >a>.pull-right-container {
        //display: block!important;
        position: relative !important;
        float: right;
        width: auto !important;
        left: 200px - 20px !important;
        top: -22px !important;
        z-index: 900;
        >.label:not(:first-of-type) {
            display: none;
        }
    }
    >.treeview-menu {
        top: 44px;
        margin-left: 0;
    }
}

:host(.sub-treeview) {
    
}

//skin blue
li {
    a {
        border-left: 3px solid transparent;
    }
    &.active>a {
        border-left-color: @link-hover-border-color;
    }
    &.treeview {
        &:hover>a,
        &.active>a,
        &.menu-open>a {
            color: @sidebar-dark-hover-color;
            background: @sidebar-dark-hover-bg;
        }
        >.treeview-menu {
            margin: 0 1px;
            background: @sidebar-dark-submenu-bg;
            li {
                a {
                    border-left-color: transparent;
                }
            }
        }
    }
}

a {
    color: @sidebar-dark-color;
    &:hover {
        text-decoration: none;
    }
}

// .treeview-menu {
// >
li:not(.treeview) {
    >a {
        color: @sidebar-dark-submenu-color;
    }
    &.active>a,
    >a:hover {
        color: @sidebar-dark-submenu-hover-color;
    }
}

// }