<ul>
  <li>ViewChild就是选择元素用的</li>
  <li>参数是一个指令或一个类型</li>
  <div>
    <textarea cols="80" rows="6" style="resize: none">
        <app-test></app-test>
        <div #childEle></div>
        <ng-template #childTpl></ng-template>
        <!--使用指令的方式-->
        <div appTest></div>
    </textarea>
    <textarea cols="80" rows="6" style="resize: none">
        @ViewChild(TestComponent) test:TestComponent;
        @ViewChild('childEle',{read:ElementRef}) child:ElementRef
        @ViewChild('childTpl' ,{read:TemplateRef}) child2:TemplateRef
        @ViewChild(TestDirective):testD:TestDirective;
      </textarea>
  </div>
  <li>ViewChild会在ngAfterViewInit()回调函数之前做完工作，也就是说你不能在构造函数中使用这个元素</li>
</ul>

<div #child>nihao</div>
<ng-template #tpl>hha</ng-template>